.about-section {
    display: flex;
    flex-direction: row;
    max-width: 85%;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 3px solid black;
    max-width: fit-content;
    min-width: fit-content;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(255, 247, 230);
}

.about-duck {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-self: flex-start;
    margin: 0;
    flex-wrap: wrap;
}

.about-duck img {
    flex-direction: row;
    width:fit-content;
    height: fit-content;
    padding: 10px;
}

.about-header {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: -20;
}


.about-duck figcaption {
    padding: 10px;
    margin: 0 auto;
}

.about-intro-text{
   display: flex;
   flex-direction: column;
   padding: 10px;
   padding-top: 0;
}

.about-intro-text p {
    text-align: center;
    padding-left: 20px;
}

