* {
    font-family: 'Courier New', Courier, monospace;
}




body{
    background-color: rgb(245, 245, 228);
}

.container, button{
    background-color:rgb(255, 247, 230);
}


section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
}


.container{
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    width: 70%;
    flex-wrap: wrap;
    height: auto;
    margin: 10% auto;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 4%;
    max-width: 600px;
    background-color: rgb(255, 247, 230);
    margin-bottom: 10px;
    min-width: 200px;
}

nav {
    border: 2px solid rgb(207, 200, 192);
    border-bottom: 3px solid rgba(0, 0, 0, 0.351);
    background-color: rgb(255, 247, 230);
    height: 100%;
    margin-top: 0;
}

nav img {
    height: 45px;
    width: auto;
    margin: 10px;
    margin-left: 20px;
}


nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-section {
    margin-top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%; 
    margin: 0 auto;
    flex-wrap: wrap;
    min-width: 200px;
}

button {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

/* Animation sourced from: https://codepen.io/theDeanH/pen/zBZXLN */

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }


button:hover {
    transition: ease-in-out 0.2s;
    scale: 120%;
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
        
}

button::after {
    transition: ease-in-out 0.2s;
    scale: 100;
}

hr {
    margin-top: 5%;
    width: 40%;
}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 2px solid rgb(207, 200, 192);
    border-bottom: 3px solid rgba(0, 0, 0, 0.351);
    display: flex;
    justify-content: center;
    background-color: rgb(255, 247, 230);
    margin-top: 20px;
    margin-bottom: 0;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}